[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
keras = "*"
opencv-python = "*"
numpy = "*"
scikit-learn = "*"
imutils = "*"
matplotlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
